@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

body {
  line-height: 1.6;
  max-width: 140rem;
  padding: 0 5rem;
}

@media (max-width: 400px) {
  body {
    padding: 0 1rem;
  }
}

h1 {
  font-family: "PT Serif", serif;
}

h4, p {
  font-family: "PT Sans", sans-serif;
}

.card-number, .container .card--1, .container .card--2, .container .card--3, .container .card--4 {
  font-size: 25rem;
  background-color: #86ddf3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Serif", serif;
}

@media (max-width: 400px) {
  .card-number, .container .card--1, .container .card--2, .container .card--3, .container .card--4 {
    font-size: 18rem;
  }
}

.card-text, .container .card--5, .container .card--8, .container .card--9, .container .card--11 {
  text-align: center;
  padding: 0 2.5rem;
}

.card-text h1, .container .card--5 h1, .container .card--8 h1, .container .card--9 h1, .container .card--11 h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (max-width: 400px) {
  .card-text h1, .container .card--5 h1, .container .card--8 h1, .container .card--9 h1, .container .card--11 h1 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}

.card-text p, .container .card--5 p, .container .card--8 p, .container .card--9 p, .container .card--11 p {
  font-size: 1.6rem;
}

@media (max-width: 400px) {
  .card-text p, .container .card--5 p, .container .card--8 p, .container .card--9 p, .container .card--11 p {
    font-size: 1.75rem;
  }
}

@media (max-width: 400px) {
  .card-text, .container .card--5, .container .card--8, .container .card--9, .container .card--11 {
    padding: 1rem;
  }
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
}

.header {
  background: url("/images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: #fff;
  opacity: .9;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__title {
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  margin-top: 8rem;
}

@media (max-width: 400px) {
  .header__title {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: normal;
  }
}

.header__subtitle {
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

@media (max-width: 400px) {
  .header__subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: normal;
  }
}

@media (max-width: 400px) {
  .header {
    height: 40vh;
  }
}

.content {
  padding: 0 15rem;
}

@media (max-width: 400px) {
  .content {
    padding: 1rem;
  }
}

.content__text {
  font-size: 1.6rem;
  text-align: center;
  padding: 5rem 0;
}

@media (max-width: 400px) {
  .content__text {
    padding: 2rem 1rem;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 4fr;
      grid-template-columns: 2fr 3fr 4fr;
  -ms-grid-rows: 38rem (40rem)[2] 30rem;
      grid-template-rows: 38rem repeat(2, 40rem) 30rem;
  grid-gap: 1.5rem;
  margin-bottom: 3rem;
}

.container .card--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .card--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .card--4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.container .card--10 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

@media (max-width: 400px) {
  .container .card--1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
  }
  .container .card--2 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 7;
    grid-row: 6 / 13;
  }
  .container .card--3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 16;
    -ms-grid-row-span: 6;
    grid-row: 16 / 22;
  }
  .container .card--4 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 24;
    -ms-grid-row-span: 5;
    grid-row: 24 / 29;
  }
  .container .card--5 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container .card--6 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    grid-row: 6 / 10;
  }
  .container .card--7 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 13;
    -ms-grid-row-span: 5;
    grid-row: 13 / 18;
  }
  .container .card--8 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 10;
    -ms-grid-row-span: 4;
    grid-row: 10 / 14;
  }
  .container .card--9 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 18;
    -ms-grid-row-span: 6;
    grid-row: 18 / 24;
  }
  .container .card--10 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 22;
    -ms-grid-row-span: 4;
    grid-row: 22 / 26;
  }
  .container .card--11 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 26;
    -ms-grid-row-span: 4;
    grid-row: 26 / 30;
  }
}

@media (max-width: 400px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (5rem)[29];
        grid-template-rows: repeat(29, 5rem);
  }
}

.footer {
  margin: 10rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer .box--1 {
  margin-left: 4rem;
}

@media (max-width: 400px) {
  .footer .box--1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer .box--2 {
  height: 135%;
}

@media (max-width: 400px) {
  .footer .box--2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer .box--3 {
  font-size: 8rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.footer .box--3 .zem {
  color: #86ddf3;
  text-align: right;
}

.footer .box--3 .eckis {
  color: #fff;
}

@media (max-width: 400px) {
  .footer .box--3 .eckis {
    color: #86ddf3;
    margin-left: -1rem;
  }
}

@media (max-width: 400px) {
  .footer .box--3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 5rem;
  }
}

.footer__title {
  font-size: 5rem;
  text-transform: uppercase;
  width: 19rem;
}

.footer__text {
  font-size: 1.6rem;
  margin: 2rem 3rem 0 0;
}

@media (max-width: 400px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem 2rem;
  }
}
/*# sourceMappingURL=style.css.map */