@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  max-width: 140rem;
  padding: 0 5rem;
}

h1 {
  font-family: "PT Serif", serif;
}

h4, p {
  font-family: "PT Sans", sans-serif;
}

.card-number, .container .card--1, .container .card--2, .container .card--3, .container .card--4 {
  font-size: 25rem;
  background-color: #86ddf3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Serif", serif;
}

.card-text, .container .card--5, .container .card--8, .container .card--9, .container .card--11 {
  text-align: center;
  padding: 1rem 2.5rem;
}

.card-text h1, .container .card--5 h1, .container .card--8 h1, .container .card--9 h1, .container .card--11 h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-text p, .container .card--5 p, .container .card--8 p, .container .card--9 p, .container .card--11 p {
  font-size: 1.6rem;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
}

.header {
  background: url("/images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: #fff;
  opacity: .9;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__title {
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  margin-top: 8rem;
}

.header__subtitle {
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.content {
  padding: 0 15rem;
}

.content__text {
  font-size: 1.5rem;
  text-align: center;
  padding: 5rem 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 4fr;
      grid-template-columns: 2fr 3fr 4fr;
  -ms-grid-rows: 38rem (40rem)[2] 30rem;
      grid-template-rows: 38rem repeat(2, 40rem) 30rem;
  grid-gap: 1.5rem;
  margin-bottom: 3rem;
}

.container .card--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container .card--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container .card--4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.container .card--10 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}
/*# sourceMappingURL=style.css.map */