.header{
    background: url('/images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: $color-white;
    opacity: .9;
    &__content{
        display: flex;
        flex-direction: column;
        text-align: center;       
    }
    &__title{
        @include header-text(6.5rem, 400, .5rem);        
        margin-top: 8rem;    
    }
    &__subtitle{
        @include header-text(2.7rem, 600, .2rem);    
    }      
 }