.header{
    background: url('/images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: $color-white;
    opacity: .9;
    &__content{
        display: flex;
        flex-direction: column;
        text-align: center;       
    }
    &__title{
        font-size: 6.5rem;
        margin-top: 8rem;            
        font-weight: 400;
        letter-spacing: .5rem;
    }
    &__subtitle{
        font-size: 2.7rem;          
        font-weight: 600;
        letter-spacing: .2rem;
    }
}