.content{
    padding: 0 15rem;
    &__text{
        @include font-size(1.5rem);
        text-align: center;    
        padding: 5rem 0;
    }   
}

.container{
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    grid-template-rows: 38rem repeat(2,40rem) 30rem; 
    grid-gap: 1.5rem;
    margin-bottom: 3rem;  
    .card{
        &--1{
            @extend .card-number;
        }
        &--2{
            @extend .card-number;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &--3{
            @extend .card-number;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &--4{
            @extend .card-number;
            grid-column: 2 / 3;
            grid-row: 4 / 5;    
        }
        &--5{
            @extend .card-text;
        }

        &--8{
           @extend .card-text;
        }
        &--9{
            @extend .card-text;
        }
        &--10{
            grid-row: 3 / 5;
        }
        &--11{
            @extend .card-text;
        }       
    }
}

.card-number{
    @include font-size(25rem);
    background-color: $background-color;
    color: $color-white;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-primary;
}


.card-text{    
    text-align: center;
    padding: 1rem 2.5rem;    
    h1{    
        @include font-size(2rem);   
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;     
    }
    p{        
        @include font-size(1.6rem); 
    }
}