*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    @media (max-width: $bp-mobile){
        html {
            font-size: 50%;
        }
    }
}

body {         
    line-height: 1.6; 
    max-width: 140rem;   
    padding: 0 5rem;  
    @media (max-width: $bp-mobile) {
        padding: 0 1rem;
    }
}

h1{
    font-family: $font-primary; 
}

h4,p{
    font-family: $font-secondary;
}
  
