.footer{
    margin: 10rem 0;     
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    .box{
        &--1{
            margin-left: 4rem;

            @media(max-width: $bp-mobile){
                order: 1;
            }
        }
        &--2{
            height: 135%;    

            @media(max-width: $bp-mobile){
                order: 3;
            }
        }
        &--3{
            @include font-size(8rem); 
            grid-column: 1 / 3;         
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font-secondary; 
            .zem{
                color: $background-color;
                text-align: right;
            }
            .eckis{
                color: $color-white;

                @media(max-width: $bp-mobile){
                    color: $background-color;
                    margin-left: -1rem;
                }
            }

            @media(max-width: $bp-mobile){
                order: 2;
                font-size: 5rem;
            }
        }
    }     
    &__title{
        @include font-size(5rem);   
        text-transform: uppercase;
        width: 19rem;
    }
    &__text{
        @include font-size($font-size); 
        margin: 2rem 3rem 0 0; 
    }        

    @media(max-width: $bp-mobile){
        display: flex;
        flex-direction: column;
        margin: 0 1rem 2rem;       
    }
}

