.content{
    padding: 0 15rem;
    @media (max-width: $bp-mobile) {
        padding: 1rem;
    }
    &__text{
        @include font-size(1.5rem);
        text-align: center;    
        padding: 5rem 0;     
        @media (max-width: $bp-mobile) {
            @include font-size(1.4rem);
            padding: 2rem 1rem;
        } 
    }   
   
}

.container{
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    grid-template-rows: 38rem repeat(2,40rem) 30rem; 
    grid-gap: 1.5rem;
    margin-bottom: 3rem;  
    .card{
        &--1{
            @extend .card-number;
        }
        &--2{
            @extend .card-number;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &--3{
            @extend .card-number;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &--4{
            @extend .card-number;
            grid-column: 2 / 3;
            grid-row: 4 / 5;    
        }
        &--5{
            @extend .card-text;
        }

        &--8{
           @extend .card-text;
        }
        &--9{
            @extend .card-text;
        }
        &--10{
            grid-row: 3 / 5;
        }
        &--11{
            @extend .card-text;
        }       
        @media(max-width: $bp-mobile){
            &--1{
                grid-row: 1 / 6;
            }
            &--2{
                grid-row: 6 / 13;
            }
            &--3{
                grid-column: 1;
                grid-row: 16 / 22;   
            }
            &--4{
                grid-column: 2;
                grid-row: 24 / 29;     
            }
            &--5{
                grid-column: 2;
                grid-row: 1;
            }
    
            &--6{
                grid-column: 1;
                grid-row: 6 / 10;     
            }

            &--7{
                grid-column: 2;
                grid-row: 13 / 18;     
            }
            
            &--8{
                grid-column: 1;
                grid-row: 10 / 14;        
            }
            &--9{
                grid-column: 2;
                grid-row: 18 / 24;      
            }
            &--10{
                grid-column: 1;
                grid-row: 22 / 26;  
            }
            &--11{
                grid-column: 1;
                grid-row: 26 / 30; 
            }           
        }
    }
    @media(max-width:$bp-mobile){
        grid-template-columns: repeat(2, 1fr);     
        grid-template-rows: repeat(28,5rem);   
       
    }
}
